.hello{
    color: #000;
    font-size: 60px;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    align-items: baseline;
}

.poutry{
    width: 50px;
    align-self: center;
    border-radius: 40px;
}


.poutry2{
    width: 60px;
}

.alinhar{
    margin-top:12px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
}

.Acesso_Indcs{
    display: flex;
    margin-top: 50px;
    margin-left: 35px;
    justify-content: space-between;
}

.Acesso_Indcs span{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    color: #fff;
    font-size: 30px;  
}

.poutry1{
    width: 100px;
    border-radius: 50px;

}

.Acesso_Indcs button{

    background-color: #ffac5a;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    color: #f0f0f0;
    font-size: 50px;
    display: flex;
    align-items: center;

}

.Acesso_Indcs button:hover{

    background-color:#FF8F1F;
    color:#fff;

}

.servicesText{
    font-size: 60px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.welcome1{
    font-size: 25px;
    margin-top: 50px;

}

.varDay{
    font-weight: bold;
    color: rgb(100,158,255, 1);
    font-size: 25px;
    margin-top: 50px;
}

.people{
    color: #81CF91;
    align-items: baseline;
}

.ButtonsNavig{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.ButtonsNavig button{
    display: flex;
    justify-content: space-around;
    background-color: #81CF91;
    border-radius: 20px;
    height: 100px;
    width: 240px;
    font-size: 25px;
    font-weight: bold;
    color: #f0f0f0;
    align-items: center;
    margin-left: 45px;
}

.ButtonsNavig button:hover{
    background-color: #43B75A;
    color: #fff;
    
}

.funcionando{
    color: #00cc00;
    display: flex;
    font-size: 32px;
    justify-content: center;


}

.Naofuncionando{
    color: rgb(220, 20, 60);
    display: flex;
    font-size: 32px;
    justify-content: center;
}

.difItem{
    font-size: 16px;
    color:silver;
    display: flex;
    align-self: center;
}

.etapaProduct{
    font-size: 20px;
    color:royalblue

}